.slider {
  -webkit-appearance: none;
  height: 12px; /* Default height for larger screens */
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px; /* Default width for larger screens */
  height: 18px; /* Default height for larger screens */
  border-radius: 75%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px; /* Default width for larger screens */
  height: 18px; /* Default height for larger screens */
  border-radius: 75%;
  background: black;
  cursor: pointer;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .slider {
    height: 20px; /* Larger height for mobile devices */
  }

  .slider::-webkit-slider-thumb {
    width: 25px; /* Larger width for mobile devices */
    height: 25px; /* Larger height for mobile devices */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Larger width for mobile devices */
    height: 25px; /* Larger height for mobile devices */
  }
}
